[user]
	name = Perseo
	email = pgutierrezi@eservicios.indra.es
[core]
	editor = vim
[pretty]
	onelinedate = %C(auto)%h %C(green)%ad%C(auto)%d%C(reset) %s %C(white)(%an)%C(reset)
[alias]
	s = status -s
	l = log --graph --decorate --oneline
	co = checkout
	logd  = log --abbrev-commit --decorate
	logg  = log --abbrev-commit --decorate --graph
	logo  = log --abbrev-commit --decorate --graph --date=short
	logop = log --abbrev-commit --decorate --graph --date=short --first-parent
	loga  = log --abbrev-commit --decorate --graph --date=short --all
	logap = log --abbrev-commit --decorate --graph --date=short --all --first-parent
	wdiff = diff --color-words
	wshow = show --color-words
